/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*/ RESET */

/* DEBUG */

header {
    background-color: #add8e6;
}

.header-top {
    width: 1250px;
    height: 50px;
}

.logo,
.link,
.login {
    line-height: 50px;
    padding: 0 10px 0 10px;
    background-color: #daa520;
    border: 2px dotted black;
}

.header-bottom {
    background-color: #00008b;
}

.header-box {
    height: 400px;
    width: 950px;
    background-color: #ee82ee;
    border: 2px dotted black;
}

.main-box {
    width: 1250px;
    height: 520px;
}

.left1 {
    width: 750px;
    background-color: #1e90ff;
    border: 2px dotted black;
}

.right1 {
    width: 500px;
    background-color: #ffc0cb;
    border: 2px dotted black;
}

.left2 {
    width: 750px;
    background-color: #1e90ff;
    border: 2px dotted black;
}

.right2 {
    width: 500px;
    background-color: #ffc0cb;
    border: 2px dotted black;
}

section:nth-child(even) {
    background-color: #d3d3d3;
}

section:last-child {
    height: 1040px;
}

.main-box2 {
    width: 1250px;
    height: 930px;
    background-color: #228b22;
    border: 2px dotted black;
}

/*/ DEBUG */


/* COMMON */

.header-bottom,
.main-container {
    margin: 0px auto;
    padding: 50px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*/ COMMON */


/* HEADER */

nav {
    padding: 20px 0;
}

.header-top {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo,
.login {
    flex-grow: 1;
}

.link {
    text-align: center;
    flex-grow: 2;
}

.login {
    text-align: right;
}

/* /HEADER */

/* MAIN */

.main-box {
    display: flex;
}

.left2 {
    order: 1;
}

/*/ MAIN */